<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <footer class="containerFooter">
        <div>
            <p>&copy; 2024 XYZ Ltda.</p>
            <p>Todos os direitos reservados.</p>
        </div>
        <div class="links_sociais">
            <a href="http://" target="_blank" rel="instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="http://" target="_blank" rel="facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="http://" target="_blank" rel="twitter"><i class="fa-brands fa-twitter"></i></a>
            <a href="http://" target="_blank" rel="discord"><i class="fa-brands fa-discord"></i></a>
            <a href="http://" target="_blank" rel="whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
    </footer>
</body>
</html>