<%- include('header') %>

  <div class="containerMain">
      <h1>
          Suporte Técnico
      </h1>  
      <p>   
        Bem-vindo à XYZ Ltda, líder no setor de tecnologia. Reconhecemos a importância de um suporte técnico eficiente para manter nossos padrões de excelência. Para melhor atender nossos clientes e otimizar a produtividade de nossa equipe, desenvolvemos um novo sistema de helpdesk. Agora, podemos resolver suas necessidades de suporte de maneira mais rápida e eficaz, proporcionando uma experiência superior a todos os nossos clientes.
      </p>  
      <a class="link_Main" href="/tarefa"><span class="fa-solid fa-list-check"></span>Gerencie suas solicitações de suporte </a>
  </div>

<%- include('footer') %>