body{
    background-color: white;
}

*{
    margin: 0px;
    padding: 0px;
}
.barraMenu{
    display: flex;
    background-color: bisque;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2rem;
}
.menu{
    display: flex;

}
.menu li a{
    text-decoration: none;
    border: 1px black solid;
    padding: 10px;
    display: inline-block;
    margin: 10px;
}
.menu li a:hover{
    color: white;
    border: none;
}
.divs{
    display: flex;
    margin: 10px;
    gap: 10px;
}
.div1, .div2, .div3{
    display: flex;
    border: 1px solid black;
}

.title{
    text-align: center;
    background-color: black;
    color: white;
    border: 5px;
}

.imagens{
    display: flex;
    justify-content: space-around;
    border: 15px;
    margin: 15px;
    border: 5px solid #b3b3b3;
    border-radius: 10px;
}

.imagemDestaque{
    display: flex;
    justify-content: center;
    border: 15px;
    margin: 15px;
    border: 5px solid #b3b3b3;
    background-color: white;
}

.imgDestaque{
    width: 150px;
}

.footer{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    border-top: 1px solid black;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: lightgreen;
}
.imgFooter{
    width: 300px;
}

.text-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

textFooter{
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}